info.app:
  name: Court Hearing Event Receiver
  version: 1.0

spring:
  application:
    name: court-hearing-event-receiver
  codec:
    max-in-memory-size: 10MB

  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

  profiles:
    group:
      test:
        - "stdout"
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${hmppsauth.baseurl}/issuer
          jwk-set-uri: ${hmppsauth.baseurl}/.well-known/jwks.json

server:
  port: 8080
  servlet:
    context-path: /
  forward-headers-strategy: native
  tomcat:
    remoteip:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto
      internal-proxies: 10\.\d{1,3}\.\d{1,3}\.\d{1,3}|192\.168\.\d{1,3}\.\d{1,3}|169\.254\.\d{1,3}\.\d{1,3}|127\.\d{1,3}\.\d{1,3}\.\d{1,3}|172\.1[6-9]{1}\.\d{1,3}\.\d{1,3}|172\.2[0-9]{1}\.\d{1,3}\.\d{1,3}|172\.3[0-1]{1}\.\d{1,3}\.\d{1,3}|0:0:0:0:0:0:0:1|::1|100\.6[4-9]\.\d{1,3}\.\d{1,3}|100\.[7-9][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.1[0-1][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.12[0-7]\.\d{1,3}\.\d{1,3}
  shutdown: graceful
  error:
    include-message: always

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: 'info, health'
  endpoint:
    health:
      cache:
        time-to-live: 2000ms
      show-components: always
      show-details: always
      probes:
        enabled: true
    info:
      cache:
        time-to-live: 2000ms

included-court-codes: "B10BF,B10FR,B11JP,B11KF,B10LX,B10MR,B47CL,B17JA,B03OT,B01CE,B32UD,B21DA,B30PI,B01LY,B10BD,B10JL,B10JQ,B30PG"

feature:
  use-included-courts-list: true

observe:
  fields:
    judicialResults-label:
      path: "hearing.prosecutionCases[*].defendants[*].offences[*].judicialResults[*].label"
      printValue: true
    judicialResults-isConvictedResult:
      path: "hearing.prosecutionCases[*].defendants[*].offences[*].judicialResults[*].isConvictedResult"
      printValue: true
    hearingType:
      path: "hearing.type.description"
      printValue: true
    offenceCode:
      path: "hearing.prosecutionCases[*].defendants[*].offences[*].offenceCode"
      printValue: true
    caseMarker:
      path: "hearing.prosecutionCases[*].caseMarkers[*].markerTypeDescription"
      printValue: true
    selfDefinedEthnicity:
      path: "hearing.prosecutionCases[*].defendants[*].personDefendant.personDetails.ethnicity.selfDefinedEthnicityDescription"
      printValue: true
    observedEthnicity:
      path: "hearing.prosecutionCases[*].defendants[*].personDefendant.personDetails.ethnicity.observedEthnicityDescription"
      printValue: true
    plea:
      Path: "hearing.prosecutionCases[*].defendants[*].offences[*].plea.pleaValue"
      printValue: true
    verdict:
      Path: "hearing.prosecutionCases[*].defendants[*].offences[*].verdict.verdictType.description"
      printValue: true
    altCourtCode:
      path: "hearing.courtCentre.code"
      printValue: true
    hearingLabel:
      path: "hearing.prosecutionCases[*].defendants[*].offences[*].judicialResults[*].label"
      printValue: true
    judiciary:
      path: "hearing.judiciary"
    judiciaryFirstName:
      path: "hearing.judiciary[*].firstName"
    judiciaryLastName:
      path: "hearing.judiciary[*].lastName"
    delegatedPowers1:
      path: ".hearing.prosecutionCases[*].defendants[*].offences[*].plea.delegatedPowers"
    delegatedPowers1FirstName:
      path: ".hearing.prosecutionCases[*].defendants[*].offences[*].plea.delegatedPowers.firstName"
    delegatedPowers1LastName:
      path: ".hearing.prosecutionCases[*].defendants[*].offences[*].plea.delegatedPowers.lastName"
    delegatedPowers2:
      path: ".hearing.prosecutionCases[*].defendants[*].offences[*].judicialResults[*].delegatedPowers"
    delegatedPowers2FirstName:
      path: ".hearing.prosecutionCases[*].defendants[*].offences[*].judicialResults[*].delegatedPowers.firstName"
    delegatedPowers2LastName:
      path: ".hearing.prosecutionCases[*].defendants[*].offences[*].judicialResults[*].delegatedPowers.lastName"
    defendantAssociatedPersons:
      path: ".hearing.prosecutionCases[*].defendants[*].associatedPersons[*]"
    defendantAssociatedPersonsFirstName:
      path: ".hearing.prosecutionCases[*].defendants[*].associatedPersons[*].firstName"
    defendantAssociatedPersonsLastName:
      path: ".hearing.prosecutionCases[*].defendants[*].associatedPersons[*].lastName"
    victimLastName:
      path: ".hearing.prosecutionCases[*].defendants[*].offences[*].victims[*].lastName"
    hearingResultText:
      path: "hearing.prosecutionCases[*].defendants[*].offences[*].judicialResults[*].resultText"
      printValue: true

