---
generic-service:
  ingress:
    hosts:
      - court-hearing-event-receiver-dev.hmpps.service.justice.gov.uk
    tlsSecretName: court-probation-dev-cert-secret

  autoscaling:
    minReplicas: 1
    maxReplicas: 2

  poddisruptionbudget:
    enabled: false

  resources:
    limits:
      cpu: 5000m
      memory: 1200Mi
    requests:
      cpu: 250m
      memory: 350Mi

  env:
    HMPPSAUTH_BASEURL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    SENTRY_ENVIRONMENT: dev

generic-prometheus-alerts:
  alertSeverity: probation_in_court_alerts_dev