generic-service:
  ingress:
    hosts:
      - court-hearing-event-receiver.hmpps.service.justice.gov.uk
    tlsSecretName: court-probation-cert-secret

  autoscaling:
    minReplicas: 2
    maxReplicas: 4

  resources:
    limits:
      cpu: 5000m
      memory: 1200Mi
    requests:
      cpu: 500m
      memory: 700Mi

  env:
    HMPPSAUTH_BASEURL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    SENTRY_ENVIRONMENT: prod

  allowlist:
    hmcts-2: 51.140.52.246/32

generic-prometheus-alerts:
  alertSeverity: probation_in_court_alerts_prod